body{
	margin-right: 10%;
	margin-left: 10%;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
	padding: 12px 20px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}